#sns_cpanel{
	position: fixed;
	top: 0px;
	right: -290px;
	width: 290px; height: 100%;
	z-index: 999;
	background: #f5f5f5;;
	border-left: 1px solid transparent;
	@include transition(border 0.4s ease-out 0s);
	@media(max-width: $screen-xs-max){
		display: none;
	}
	&.wait{
		cursor: wait;
		* {
			cursor: wait !important;
		}
	}
	&.open{
		border-color: $base-border-color;
	}
	.button{
		background: #FFF;
		&.btn-buy{
			background: $color1; border-color: $color1; color: #FFF;
			&:hover,
			&:focus{
				background: darken($color1, 15%); color: #FFF; border-color: darken($color1, 15%);
			}
		}
		&:hover,
		&:focus{
			background: $color1; color: #FFF;
		}
	}
	.cpanel-head {
		padding: 20px 0 20px; border-bottom: 1px solid #e9e9e9; text-align: center;
	}
	#cpanel_themecolor{
		.wp-color-result{
			background-color: #f7f7f7;
		    border: 1px solid $base-border-color;
		    -webkit-border-radius: 3px;
		    border-radius: 3px;
		    cursor: pointer;
		    height: 22px;
		    margin: 0 6px 6px 0;
		    position: relative;
		    -webkit-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
		    vertical-align: bottom;
		    display: inline-block;
		    padding-left: 30px;
		    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.08);
		    box-shadow: 0 1px 0 rgba(0,0,0,.08);
		    top: 0;
		    &:after{
		    	font-size: 11px;
    			line-height: 20px;
		    }
		}
		input[type=text].wp-color-picker{
			font-size: 12px;
		    font-family: monospace;
		    text-align: center;
		    line-height: 16px;
		    margin: 0;
		    padding: 2px 5px;
		}
		.wp-picker-default{
			 padding: 0 10px 1px;
			 height: 22px;
		    line-height: 22px;
		    font-size: 11px;
		    color: #555;
		    border-color: $base-border-color;
		    background: #f7f7f7;
		    vertical-align: top;
		}

		a{
			width: 80px;
		    height: 40px;
		    line-height: 40px;
		    border: 1px solid rgba(0, 0, 0, 0.1);
		    margin: 0 5px 5px 0;
		    display: inline-block;
		    text-align: center;
		    color: #fff;
		    float: left;

			&:hover,&.active{
				border-color: rgba(0, 0, 0, 0.2);
    			border-width: 4px;
    			
			}
			&.active{
				line-height: 32px;
			}
		}

		@include clearfix();
	}
	#sns_cpanel_btn{
		width: 44px;
		height: 46px;
		background: #FFF;
		position: absolute;
		left: -43px;
		top: 220px;
		cursor: pointer;
		@include  transition(all 0.2s ease-out 0s);
		border: 1px solid #eaeaea;
		border-right: 1px solid #FFF;
		text-align: center;
		@include border-radius(6px 0 0 6px);
		i{
			font-size: 22px;
			line-height: 46px;
			color: #666; margin: 0 0;
		}
	}
	.cpanel-set{
		padding: 20px 0 0; background: #FFF; @include clearfix(); 
	}
	.cpanel-bottom{
		@include clearfix(); padding: 15px 0 0;
		border-top: 1px solid $base-border-color;
	}
	.form-group{
		@include clearfix(); margin: 0 0 20px 0;
		label{
			margin: 0 0 5px 0; color: $labelColor; text-transform: uppercase;
		}
		.content{
			a{
				width: 50px; height: 24px; line-height: 24px; border: 1px solid #CCC;
				margin: 0 1px 5px 0; display: inline-block; text-align: center;
				&:hover{
					color: $color1;
				}

				&.active{
					border-color: #666; background: #666; color: #FFF;
				}

				&:first-child{
					&.active{
						border-color: #0073aa; background: #0073aa; color: #FFF;
					}
				}
			}
		}
	}
}
