/***************************************************
	scss file: /assets/scss/theme/_header.scss
		+ Header Layout
			- .sns_header_layout_1
			- .sns_header_layout_2 
			- .sns_header_layout_3 
****************************************************/

// default
.sns_header_layout_1{
	#sns_topheader{
		display: block;
	}
	#sns_header{
		
	}
}

.sns_header_layout_2{
	#sns_topheader{
		display: none;
	}
	#sns_header{
		.header-left{
			.icon-block-search-toggle{
				position: relative;
			    width: 82px;
			    float: left;
			    height: 80px;
			    text-align: center;
			    cursor: pointer;
			    border-right: 1px solid #f1f1f1;

			    @media (max-width: 400px ){ display: none; }
			    .icon-search{
			    	position: relative;
			    	overflow: hidden;
			    	width: 100%;
			    	height: 100%;
			    	&:before{
						border-color: #000;
					    background: none;
					    border: 1px solid #000;
					    border-radius: 100%;
					    content: "";
					    height: 13px;
					    left: 28px;
					    position: absolute;
					    top: 33px;
					    @include transform-origin(50% 50% 0);
					    @include transition(all 0.5s cubic-bezier(0.17, 0.67, 0.6, 1.3) 0s);
					    width: 13px;
					}
					&:after{
						background: #000;
					    bottom: 32px;
					    content: "";
					    height: 1px;
					    left: 37px;
					    position: absolute;
					    @include rotate(45deg);
					    @include transition(all 0.5s cubic-bezier(0.17, 0.67, 0.6, 1.3) 0s);
					    width: 10px;
					}

					&.active{
						&:before{
							height: 1px;
						    border-radius: 0;
						    border: none;
						    position: absolute;
						    background: #000;
						    left: 23px;
						    top: 40px;
						    @include rotate(-45deg);
						    width: 30px;
						}
						&:after{
							height: 1px;
						    position: absolute;
						    width: 21px;
						    background: #000;
						    left: 23px;
						    position: absolute;
						    top: 40px;
						    @include rotate(45deg);
						    width: 30px;
						}
					}
			    }

			    .header-left-search-block{
			    	position: absolute;
			    	top: 100%;
			    	left: 0;
			    	width: 566px;
			    	height: 50px;
			    	background-color: #ffffff;
			    	z-index: 99999;
					display: none;

					#headerRightSearchForm{
						top: 0;
						height: 50px;
					    width: 100%;
					    margin: 0;
					    max-width: 566px;
					    input#s{
					    	height: 50px;
					    	line-height: 50px;
					    	border: none;
					    	padding: 0 10px;
					    }
					    button{
					    	display: none;
					    }
					}
			    	.yith-ajaxsearchform-container{
			    		top: 0;
			    		max-width: 566px;
			    		height: 50px;
			    		input.yith-s{
			    			width: 100%;
			    			height: 50px;
			    			border: none;
			    		}
				    		.yith-ajaxsearchform{
				    		> div{
								.yith-searchsubmit,
				    			&:after{
				    				display: none;
				    			}
				    		}
				    	}
			    	}
			    }
			}
		}
		.header-right{
			.header-right-inner{
				.header-right-inner-content{
					.header-right-logo{}
				}

				.header-tools{
					.myaccount{
						display: block;
					}
				}
			}
		}
		
	}
}


.sns_header_layout_3{
	#sns_topheader{
		display: none;
	}
	#sns_header{
		
	}
}

#headerRightSearchForm {
	@include clearfix();
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	line-height: normal;
	position: relative;
	max-width: 500px;
	height: 38px;
	border: none;
	margin: auto;
	top:22px;
	z-index: 99999;
	label.screen-reader-text{display:none;}
	input#s{
		float: right;
		margin: 0;
		padding: 0px 45px 0px 10px;
		font-size: 1em;
		width: 100%;
		line-height: 38px;
		height: 38px;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		-o-box-shadow: none;
		-ms-box-shadow: none;
		z-index: 1;
	}
	button{
		position: absolute;
		margin:0;
		padding:0;
		z-index: 1;
		right: 0px;
		width: 38px;
		height: 38px;
		top: 50%;
		margin-top: -19px;
		background-color: #3f3f3f;
		border:none;
		.fa{
			font-size: 15px;
			line-height: 38px;
			color: #ffffff;
		}
		&:hover{
			background-color: $color1;
			border: none;
		}
	}
	@media (max-width: $screen-sm-max) {

	}
}

.yith-ajaxsearchform-container{
	@include clearfix();
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	line-height: normal;
	position: relative;
	max-width: 500px;
	height: 38px;
	border: none;
	margin: auto;
	top:22px;
	z-index: 99999;
	label.screen-reader-text{display:none;}
	input.yith-s{
		float: left;
		margin: 0;
		padding: 0px 10px;
		font-size: 1em;
		width: 92.5%;
		line-height: 38px;
		height: 38px;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		-o-box-shadow: none;
		-ms-box-shadow: none;
		z-index: -1;
		border: 1px solid #c8c8c8;
		@media(max-width: 1200px){
			width: 100%;
		}
	}
	
	.yith-ajaxsearchform{
		> div{
			position: relative;
			display: block;
			.yith-searchsubmit{
				font-size: 0px;
				position: absolute;
				margin:0;
				padding:0;
				z-index: 1;
				right: 0px;
				width: 38px;
				height: 38px;
				top: 0;
				background: transparent;
				border:none;
			}
			&:after{
				@include font-awesome('f002', 15px);
				position: absolute;
				margin:0;
				padding:0;
				z-index: 0;
				right: 0px;
				width: 38px;
				height: 38px;
				line-height: 38px;
				top: 0;
				background-color: #3f3f3f;
				border:none;
				color: #ffffff;
			}
		}
	}
	.autocomplete-suggestions{
		position: absolute;
		top: 110%;
    	width: 100% !important;
	}
}
