/***************************************************
	scss file: /assets/scss/theme/_main.scss
		+ Header
			- #sns_topheader
			- #sns_header
		+ Menu
			- #sns_menu_wrap(#sns_menu, #sns_slideshow, sns_breadcrumbs)
		+ Content 
			- #sns_content
		+ Footer
			- #sns_footer_middle
			- sns_footer
****************************************************/

#sticky-navigation-holder{
	position: fixed;
    width: 100%;
    top: -50px;
    z-index: 9999;
    background: #3f3f3f;
    @include transition(all ease-in-out .5s);
    opacity: 0;
    //height: 50px;
    &.scrolled{
    	opacity: 1;
    	top: 0;
    }
	.logo{
		
	}
    #sns_menu_wrap{
    	margin: 0;
    	background: transparent;
    	.sns_menu_wrapper{
    		background: transparent;
    		.sns-mainnav-wrapper{

    		}

    		#sns_mainnav{
    			#sns_mainmenu{
    				ul#main_navigation{
    					// Level 1
    					> li{
							> a{
								color: #ffffff;
							}
							&:hover{
								> ul, > div{
									top: 100%;
								}

								> a{
									&:before, &:after{
										bottom: -3px;
									}
								}
							}
							
							&:hover,
							&.current-menu-ancestor,
							&.current-menu-item
							{
								> a{
									color: $color1;
								}
							}
    					}
    				}
    			}
    		}

    		.block-search{
    			a.icon-search{
					.fa{
						color: #ffffff;
					}
    			}
    			.top-search{
    				background: transparent;
    				input[type="text"]{
    					background: #292929;
    					color: $color;
    				}
    			}
    		}

    		.sns-ajaxcart{
				.mycart.mini-cart{
					.tongle{
						color: #ffffff;
						.fa{
							color: #ffffff;
						}
					}
				}	
    		}
    	}
    }
}


#sns_content h1.product_title, 
#sns_content h1.page-title, 
#sns_content h1.entry-title, 
#sns_content h1.page-header{
	//@include opacity(0); visibility: hidden;
}
#sns_topheader{
	position: relative;
	overflow: hidden;
	background: $top_header_bg;
	color: $top_header_color;
	height: 34px;
	line-height: 33px;
	font-size: 13px;
	a {
		color: $top_header_color;
	}
	&:before{
		position: absolute;
		content: "";
		left: 0px;
		bottom: 0px;
		height: 1px;
		width: 100%;
		background: $base-border-color;
	}
	.fa{
		font-size: 12px;
	    color: $color;
	    margin-right: 5px;
	    display: inline-block;
	    vertical-align: top;
    	line-height: 33px;
	}
	.topheader-left{
		float: left;
	}
	.topheader-right{
		position: relative;
		z-index: 2;
		float: right;
		.inner{
			float: right;
		}
		.sns-quickaccess{
			float: left;
			.welcome{
				font-weight: bold;
				color: $labelColor;
				float: left;
				display: none;
			}
			ul.links{
				list-style: none;
				margin: 0 0;
				padding: 0 0;
				float: left;
				li{
					display: inline-block;
					padding: 0 16px;
					background: url('../img/icon-top-nav.png') no-repeat right center;
					vertical-align: top;

					&:last-child{
						padding-right: 0;
						background: none;
					}

					a{
						color: $top_header_color;
						font-size: 13px;
						&:hover{
							color: $activeColor;
						}
					}
				}
			}
			@media (max-width: $screen-sm-max) {
				height: 40px;
				width: 40px;
				position: relative;
				cursor: pointer;
				border-left: 1px solid $top_header_border_color;
				border-right: 1px solid $top_header_border_color;
				.welcome{display: none;}
				ul.links{ 
					position: absolute; 
					top: 50px; 
					right: -1px;
					background: transparent; 
					width: 160px; 
					padding: 10px 0 0;
					@include opacity(0); visibility: hidden;
					margin: 0 0; 
					padding: 0 0; 
					border: none;
					background: #FFF; 
					border: 1px solid #EBEBEB;
					li{
						display: block; 
						background: none; 
						padding: 0px; 
						text-align: left; 
						margin: 0 10px;
						border: none !important;
						border-top: 1px solid #EBEBEB !important;
						&:first-child{
							border: none !important;
						}
						a{
							display: block; 
							font-size: 100%;
							color: $color;
							line-height: 30px;
						}
					}
				}
				&:hover{
					ul.links{
						@include transition(all 0.2s ease-out);
						@include opacity(1); top: 100%; visibility: visible;
					}
				}
				&:before{
					content: "\f13d"; 
					position: absolute; 
					font-family: FontAwesome;
					left: 9px; 
					top: 0px; 
					font-size: 16px;
					color: $top_header_color;
					z-index: 1; cursor: pointer;
					line-height: 34px;
				}
			}
		}
	}
}



#sns_header{
	position: relative;
	text-align: center;
    background: #fff;
    height: 81px;
    /*border-top: 1px solid #f1f1f1;*/
    border-bottom: 1px solid #f1f1f1;
    .header-left{
    	position: relative;
    	text-align: left;
    	@include clearfix();
    	.logo{
    		float: left;
    		display: inline-block;
    		margin-right: 30px;
    		height: 80px;
    		overflow: hidden;
    		position: relative;
			a{display:inline-block;
				&.custom_logo {
					background: $color1;
				}
				span{display: none;}
				body.use_logocolor &{
					background: $color1;
				}
			}
		}
		.icon-menu{
			position: relative;
			width: 82px;
    		float: left;
		    height: 80px;
		    cursor: pointer;
		    border-left: 1px solid #f1f1f1;
		    border-right: 1px solid #f1f1f1;
		    .sns_header_layout_1 & {
		    	position: absolute; top: 0px; float: none;
		    	@media (min-width: $screen-sm-max) {
		    		right: 0px;
		    	}
		    }
		    .line{
		    	background: #3f3f3f;
			    height: 1px;
			    left: 30px;
			    position: absolute;
			    transition: all 300ms cubic-bezier(0.17, 0.67, 0.6, 1.3) 0s;
			    width: 21px;
			    @include transition(all 0.3s ease);
		    }
		    .line-1{
		    	    top: 40px;
				    transform: rotateZ(-45deg);
				    -webkit-transform: rotate(-45deg);
				    -ms-transform: rotate(-45deg);
				    -o-transform: rotate(-45deg);
				    transform: rotate(-45deg);
				    width: 30px;
				    left: 25px;
				    background: #000;
		    }

		    .line-2{
		    	top: 40px;
			    @include opacity(0);
		    }

		    .line-3{
		    	top: 40px;
			    transform: rotateZ(45deg);
			    -webkit-transform: rotate(45deg);
			    -ms-transform: rotate(45deg);
			    -o-transform: rotate(45deg);
			    transform: rotate(45deg);
			    width: 30px;
			    left: 25px;
			    background: #000;
			    transition-delay: 300ms;
			    -ms-transition-delay: 300ms;
			    -o-transition-delay: 300ms;
			    -webkit-transition-delay: 300ms;
		    }
		    .line-4{
		    	top: 30px;
			    -webkit-transform: translate3d(-10px, 0px, 0px);
			    transform: translate3d(-10px, 0px, 0px);
			    opacity: 0;
			    filter: alpha(opacity=0);
			    transition-delay: 100ms;
			    -ms-transition-delay: 100ms;
			    -webkit-transition-delay: 100ms;
		    }
		    .line-5{
		    	top: 40px;
			    -webkit-transform: translate3d(-10px, 0px, 0px);
			    transform: translate3d(-10px, 0px, 0px);
			    opacity: 0;
			    filter: alpha(opacity=0);
			    transition-delay: 200ms;
			    -ms-transition-delay: 200ms;
			    -webkit-transition-delay: 100ms;
		    }
		    .line-6{
		    	top: 50px;
			    -webkit-transform: translate3d(-10px, 0px, 0px);
			    transform: translate3d(-10px, 0px, 0px);
			    opacity: 0;
			    filter: alpha(opacity=0);
			    transition-delay: 300ms;
			    -ms-transition-delay: 300ms;
			    -webkit-transition-delay: 100ms;
		    }

		    // close
		    &.close{
		    	.line-1 {
				    top: 30px;
				    transform: rotateZ(0deg);
				    -webkit-transform: rotate(0deg);
				    -ms-transform: rotate(0deg);
				    -o-transform: rotate(0deg);
				    transform: rotate(0deg);
				    width: 21px;
				    left: 30px;
				}
				.line-2{
					@include opacity(1);
				}
				.line-3 {
				    top: 50px;
				    transform: rotateZ(0deg);
				    -webkit-transform: rotate(0deg);
				    -ms-transform: rotate(0deg);
				    -o-transform: rotate(0deg);
				    transform: rotate(0deg);
				    width: 21px;
				    left: 25px;
				    left: 30px;
				}

		    }

		    &:hover{
		    	&.close{
		    		@include opacity(1);
			    	.line-1,
			    	.line-2,
			    	.line-3{
			    		@include opacity(0);
			    		@include translate3d(10px, 0px, 0px);
			    	}

			    	.line-4,
			    	.line-5,
			    	.line-6{
			    		@include opacity(1);
			    		@include translate3d(0px, 0px, 0px);
			    	}
			    }
		    }
		}
    }
	
	.header-center{
		.header-center-inner{
			.header-center-inner-content{
				.header-center-search{
					position: relative;
				}

				.header-center-logo{
					position: relative;
					.logo{
				    	position: relative;
				    	height: 80px;
				    	a{
				    		position: absolute;
				    		display: block;
				    		margin: auto;
				    		top: 50%;
				    		left: 50%;
				    		@include translate(-50%,-50%); width: 100%;
				    	}
				    	@media (max-width: $screen-sm-min){
			    			position: absolute;
			    			width: 100%;
			    			top: 0;
			    			left: 0;
			    			text-align: center;
			    			margin: 0 auto;
			    		}
				    }
				}
			}
		}
		@media (max-width: $screen-sm-min){
			position: static;
		}
	}

	.header-right{
		.header-right-inner{
			height: 81px;

			.header-tools{
				position: relative;
				display: inline-block;
			    vertical-align: middle;
			    zoom: 1;
			    float: right;

				.myaccount,
				.mysetting{
					display: inline-block;
					border-left: 1px solid #f1f1f1;
					width: 79px;
					height: 80px;
					float: left;
					@include transition(0.25s ease 0s);
					.tongle{
						text-align: center;
						.fa{
							font-size: 18px;
							color: #6f6f6f;
							line-height: 80px;
						}
					}
					.content{
						background: #ffffff;
						width: 100%;
						border: 1px solid #dedede;
					}
					&:hover{
						border-color: transparent;
						.tongle{
							cursor: pointer;
    						background: #3f3f3f;
    						.fa{
    							color: #ffffff;
    						}
						}
						.content{
							@include effect-block-show();
						}
					}
				}

				.myaccount{
					.content{
						@include clearfix();
						display: none;
						min-width: 230px;
						position: absolute;
						top: 85%;
						right: 0;
						z-index: 9999;
						@include effect-block-hide();
						padding: 5px 15px;
						ul.settings-links{
							@include ulclear();
							li{
								display: block;
								text-align: left;
								margin: 8px 0px;
								a{
									color: #5f5f5f;
									position: relative;
									font-size: 13px;
									&:before{
										@include font-awesome('f0da', 13px);
									}
									&:hover{
										color: $color1;
										&:before{
											color: $color1;
										}
									}
								}
							}
						}
						&:after{
						    content: "";
						    width: 0;
						    height: 0;
						    border-style: solid;
						    border-width: 0 8px 8px 8px;
						    border-color: transparent transparent #fff transparent;
						    position: absolute;
						    top: -7px;
						    left: 31px;
						    @include transition(0.5s ease 0s);
						}
					}

					@media (max-width:$screen-md-max){
						border-right: 1px solid #f1f1f1;
						.content{
							&:after{
								left: inherit;
								right: 30px;
							}
						}
					}
				}

				.mysetting{
					.content{
						@include clearfix();
						display: none;
						min-width: 230px;
						position: absolute;
						top: 85%;
						right: 0;
						z-index: 9999;
						@include effect-block-hide();
						padding: 19px 15px 5px;
						text-align: left;
						.sns-switch{
							.switch-inner{
								.language-switcher{
									.lan-current{
										line-height: 1;
									    padding-bottom: 13px;
									    border-bottom: 1px solid #eaeaea;
									    span{
									    	margin-right: 18px;
									    	color: #3f3f3f;
									    }
									    img{
									    	height: 11px;
									    }
									}
									.list-lang{
										@include ulclear();
										overflow: hidden;
									    margin-bottom: 28px;
									    padding-top: 15px;
									    li{
									    	display: inline;
										    float: left;
										    line-height: 1;
										    img{
										    	margin-right: 15px;
										    }
									    }
									}
								}

								.currency-switcher{
									.currency{
										line-height: 1;
									    padding-bottom: 13px;
									    border-bottom: 1px solid #eaeaea;
									    span{
									    	margin-right: 18px;
									    	color: #3f3f3f;
									    }
									}
									.select-currency{
										@include ulclear();
										overflow: hidden;
									    padding-top: 8px;
									    li{
									    	display: inline-block;
											text-align: left;
											margin: 0px 50px 8px 0px;
											a{
												color: #5f5f5f;
												position: relative;
												font-size: 13px;
												&:before{
													@include font-awesome('f0da', 13px);
												}
												&:hover{
													color: $color1;
												}
											}
									    }
									}
								}
							}
						}

						&:after{
						    content: "";
						    width: 0;
						    height: 0;
						    border-style: solid;
						    border-width: 0 8px 8px 8px;
						    border-color: transparent transparent #fff transparent;
						    position: absolute;
						    top: -7px;
						    right: 110px;
						    @include transition(0.5s ease 0s);
						}
					}
				}
				.sns-ajaxcart{
					width: 79px;
					height: 80px;
					border-left: 1px solid #f1f1f1;
					border-right: 1px solid #f1f1f1;
					display: inline-block;
					text-align: center;
					color: #3f3f3f;
					float: left;
					@include transition(0.25s ease 0s);

					.mycart.mini-cart{
						position: relative;
						a.shopping.cart{
							display: block;
						}
						.sns-shopping-cart-icon{
							text-align: center;
							.fa{
								font-size: 18px;
								color: #6f6f6f;
								line-height: 81px;
							}
						}
						.sns-shopping-cart-info{
							display: none;
							float: left;
							> span{
								display: block;
							}
							.ajax_cart_quantity{
								color: $color1;
								.mumber-item{
									color: $color1;
								}
							}
						}
						&:after{
							content: '';
							display: table;
							clear: both;
						}
						
						.content{
							display: none;
							position: absolute;
							top: 85%;
							right: 0;
							z-index: 9999;
							text-align:left;
							min-width: 358px;
							min-height: 70px;
							@include effect-block-hide();
							&:after{
							    content: "";
							    width: 0;
							    height: 0;
							    border-style: solid;
							    border-width: 0 8px 8px 8px;
							    border-color: transparent transparent #fff transparent;
							    position: absolute;
							    top: -7px;
							    right: 30px;
							    @include transition(0.5s ease 0s);
							}
							.block-inner{ 
								position: relative;
								padding: 20px;
								background: #fff;
								box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
								min-width: 300px;
							}
							.widget{margin: 0;
							}
						}
						&:hover{
							.sns-shopping-cart-icon{
								border-color: transparent;
								cursor: pointer;
	    						background: #3f3f3f;
	    						.fa{
	    							color: #ffffff;
	    						}
							}
							.content{
								display: block;
								@include effect-block-show();
							}
						}
					}
				}

			}
		}
	}
	@media (max-width: $screen-sm-max) {
		.header-left{
			padding-left: 0;
		}
		.header-right
		{
			padding-right: 0;
		}
	}
	@media (max-width: $screen-xs-max) {
		.header-right {
			.header-right-inner {
				//height: 0px;
				.header-right-widget{
					//height: 0px;
				}
				.connect-us{
					@media(max-width: $screen-xs-max){
						display: none;
					}
				}
				#searchform {
					height: 49px;
					width: 49px;
					position: relative;
					z-index: 3;
					right: 62px;
					bottom: -17px;
					border: 1px solid rgba(255, 255, 255, 0.5);
					@include border-radius(12px);
					@include transition(all 0.2s ease-out);
					cursor: pointer;
					> div{ 
						position: absolute; 
						top: 80px; 
						right: 0px; 
						@include opacity(0);
						visibility: hidden;
					}
					&:hover{
						> div{
							@include transition(all 0.2s ease-out);
							@include opacity(1); top: 63px; visibility: visible;
						}
					}
					&:before{
						content: ""; 
						position: absolute;
						cursor: pointer;
						left: 0px; 
						top: 0px; 
						color: $color;
						z-index: 1; cursor: pointer;
						width: 49px; height: 49px;
						background: url('../img/ico-search-white.png') no-repeat 14px center;
					}
				}
			}
		}
	}
}

.close {
    opacity: 1;
}

.sns_menu_wrapper {
	position: relative;
	// background-size: cover;
	background-repeat: no-repeat;
	background-color: #3f3f3f;
	background-position: center top;
	width: 100%;
	.sns_menu_search_wrap{
		display: none;
		position: absolute;
		z-index: 9;
		top: 100%;
		left: 0;
		right: 0;
		width: 100%;
		.yith-ajaxsearchform-container{
			top: 0;
			width: 100%;
		    margin: auto;
		    max-width: 100%;
		    input#yith-s{
		    	width: 100%;
		    }
		    #yith-ajaxsearchform > div{
		    	&:after{
		    		display: none;
		    	}
		    }
		    .autocomplete-suggestions{
		    	top: 100%;
		    }
		}

		#headerRightSearchForm{
			top: 0;
			max-width: 100%;
			input#s{
				padding: 0 10px;
			}
			button{
				display: none;
			}
		}
	}
}

.sns_menu_wrapper { 
	position: relative;
	transition: none;
    -webkit-transition: none;
	&:hover{
		z-index: 2;
	}
	body.show-sidebar &{
		z-index: 4;
	}
	
	.mysetting{
		position: static;
		display: inline-block;
		margin-right: 15px;
		@include transition(0.25s ease 0s);
		.tongle{
			text-align: center;
			.fa{
				font-size: 15px;
				color: #ffffff;
				line-height: 49px;
			}
		}
		.content{
			@include clearfix();
			display: none;
			min-width: 230px;
			position: absolute;
			top: 85%;
			right: 0;
			z-index: 9999;
			@include effect-block-hide();
			padding: 19px 15px 5px;
			text-align: left;
			background: #ffffff;
			width: 100%;
			border: 1px solid #dedede;
			.sns-switch{
				.switch-inner{
					.language-switcher{
						.lan-current{
							line-height: 1;
						    padding-bottom: 13px;
						    border-bottom: 1px solid #eaeaea;
						    span{
						    	margin-right: 18px;
						    	color: #3f3f3f;
						    }
						    img{
						    	height: 11px;
						    }
						}
						.list-lang{
							@include ulclear();
							overflow: hidden;
						    margin-bottom: 28px;
						    padding-top: 15px;
						    li{
						    	display: inline;
							    float: left;
							    line-height: 1;
							    img{
							    	margin-right: 15px;
							    }
						    }
						}
					}

					.currency-switcher{
						.currency{
							line-height: 1;
						    padding-bottom: 13px;
						    border-bottom: 1px solid #eaeaea;
						    span{
						    	margin-right: 18px;
						    	color: #3f3f3f;
						    }
						}
						.select-currency{
							@include ulclear();
							overflow: hidden;
						    padding-top: 8px;
						    li{
						    	display: inline-block;
								text-align: left;
								margin: 0px 50px 8px 0px;
								a{
									color: #5f5f5f;
									position: relative;
									font-size: 13px;
									&:before{
										@include font-awesome('f0da', 13px);
									}
									&:hover{
										color: $color1;
									}
								}
						    }
						}
					}
				}
			}

			&:after{
			    content: "";
			    width: 0;
			    height: 0;
			    border-style: solid;
			    border-width: 0 8px 8px 8px;
			    border-color: transparent transparent #fff transparent;
			    position: absolute;
			    top: -7px;
			    right: 62px;
			    @include transition(0.5s ease 0s);
			}
		}

		&:hover{
			border-color: transparent;
			.tongle{
				cursor: pointer;
				background: #3f3f3f;
				.fa{
					color: #ffffff;
				}
			}
			.content{
				@include effect-block-show();
			}
		}
	}
	.sns-ajaxcart{
		position: static;
		display: inline-block;
		margin-right: 15px;
		text-align: center;
		color: #3f3f3f;
		@include transition(0.25s ease 0s);

		.mycart.mini-cart{
			position: static;
			a.shopping.cart{
				display: block;
			}
			.sns-shopping-cart-icon{
				text-align: center;
				.fa{
					font-size: 15px;
					color: #ffffff;
					line-height: 49px;
				}
			}
			.sns-shopping-cart-info{
				display: none;
				float: left;
				> span{
					display: block;
				}
				.ajax_cart_quantity{
					color: $color1;
					.mumber-item{
						color: $color1;
					}
				}
			}
			&:after{
				content: '';
				display: table;
				clear: both;
			}
			
			.content{
				display: none;
				position: absolute;
				top: 85%;
				right: 0;
				z-index: 9999;
				text-align:left;
				min-width: 358px;
				min-height: 70px;
				@include effect-block-hide();
				&:after{
				    content: "";
				    width: 0;
				    height: 0;
				    border-style: solid;
				    border-width: 0 8px 8px 8px;
				    border-color: transparent transparent #fff transparent;
				    position: absolute;
				    top: -7px;
				    right: 30px;
				    @include transition(0.5s ease 0s);
				}
				.block-inner{ 
					position: relative;
					padding: 20px;
					background: #fff;
					box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
					min-width: 300px;
				}
				.widget{margin: 0;
				}
			}
			&:hover{
				.sns-shopping-cart-icon{
					border-color: transparent;
					cursor: pointer;
					background: #3f3f3f;
					.fa{
						color: #ffffff;
					}
				}
				.content{
					display: block;
					@include effect-block-show();
				}
			}
		}
	}
	.icon-search{
	    display: inline-block;
	    text-align: center;
	}
	
	@media (max-width: $screen-lg-desktop) {
		.nav-right {
			margin-right: 15px;
			float: right;
			width: 130px;
			padding: 0;
		}
		#sns_mainnav {
			float: left;
			width: 120px;
			padding-right: 0px;
		}
		#sns_respmenu {
			margin: 0;
			display: block;
			.btn2 {
				width: 25px;
				height: 50px;
				line-height: 50px;
				font-size: 25px;
				text-align: left;
				margin: 0 10px 0 0;
				&:hover {
					background: transparent; 
				}
				i {
					font-size: 16px;
					color: #ffffff;
					line-height: 1;
					vertical-align: middle;
				}
			}
		}
	}
}

#sns_slideshow  { position: relative; z-index: 1; overflow: hidden;
	.container{
		@media (min-width: $screen-lg-min) {
			width: 100%; padding: 0 0;
		}
	}
	
	.custom.tparrows{
		background: rgba(0,0,0,0.2);//#cbcbcb;
		height: 40px;
		width: 40px;

		&:before{
			font-size: 0px;
		}
		&.tp-leftarrow,
		&.tp-rightarrow
		{
			&:before{
				content: '';
				display: block;
				height: 40px;
				width: 40px;
				line-height: 40px;
				text-align: center;
			}
		}
		&.tp-leftarrow{
			&:before{
				background: url('../img/arrow-prev.png') no-repeat center center;
			}
		}

		&.tp-rightarrow{
			&:before{
				background: url('../img/arrow-next.png') no-repeat center center;
			}
		}

		@media (min-width: $screen-sm-min){
			width: 60px;
    		height: 60px;
    		&:before{
    			line-height: 60px;
    		}
    		&.tp-leftarrow,
			&.tp-rightarrow
			{
				&:before{
					content: '';
					display: block;
					height: 60px;
					width: 60px;
					line-height: 60px;
					text-align: center;
				}
			}
		}
		&:hover{
				background: rgba(0,0,0,0.5);
		}
		&.tp-leftarrow,
		&.tp-rightarrow
		{
			@include transition(all 0.4s ease 0s);
			@include opacity(0);
		}
		&.tp-leftarrow{
			left: -20% !important;
		}

		&.tp-rightarrow{
			left: 120% !important;
		}
	}

	&:hover{
		.custom.tparrows{
			&.tp-leftarrow,
			&.tp-rightarrow
			{
				@include opacity(1);
			}	

			&.tp-leftarrow{
			left: 0 !important;
			}

			&.tp-rightarrow{
			left: 100% !important;
			}
			
			@media(min-width: 1200px){
				&.tp-leftarrow{
					left: calc((100% - 1230px) /2) !important;
				}

				&.tp-rightarrow{
					left: calc((100% + 1230px) /2) !important;
				}
			}
		}
	}

	.loading {
		display: block;
		border-radius:50%;
		height:2px; width:2px;
		position:absolute;
		top:50%; left:50%;
		margin-top:-1px; margin-left:-1px;
		box-shadow:
		-35px -60px 0 20px #6cce74,
		 35px -60px 0 20px #c18d46,
		70px    0px 0 20px #c14745,
		 35px  60px 0 20px #2e1e5b,
		-35px  60px 0 20px #9c37a6,
		-70px    0px 0 20px #76bdd1;
		-o-animation:smallLoading 12s infinite linear;
		-moz-animation:smallLoading 12s infinite linear;
		-webkit-animation:smallLoading 12s infinite linear;
		animation:smallLoading 12s infinite linear;
		.bg-loading,
		.icon-loading {
			display: none;
		}
	}
	// .rev_slider_wrapper{
	// 	> .rev_slider{
	// 		.tp-revslider-mainul{
	// 			padding: 0 15px !important;
	// 			margin: 0 auto;
	// 			left: 10px !important;
	// 			> li{
	// 				left: 15px !important;
	// 			}
	// 			@media (min-width: $screen-xs-min) {
	// 				padding: 0 15px !important;
	// 				margin: 0 auto;
	// 				width: $container-xs !important;
	// 			}
	// 			@media (min-width: $screen-sm-min) {
	// 				padding: 0 15px !important;
	// 				margin: 0 auto;
	// 				width: $container-sm !important;
	// 			}
	// 			@media (min-width: $screen-md-min) {
	// 				padding: 0 15px !important;
	// 				margin: 0 auto;
	// 				width: $container-md !important;
	// 			}
	// 			@media (min-width: $screen-lg-min) {
	// 				padding: 0 0 !important;
	// 				margin: 0 auto;
	// 				width: 100%;
	// 			}
	// 		}
	// 	}
	// }
}

#sns_breadcrumbs{ 
	position: relative;
	padding:0px;
	margin: 0px;
	min-height: 168px;
	background: #f6f6f6;
	.container{
		position: relative; height: 100%;
	}
	.breadcrumbs {
		> * {
			display: inline-block;
		}
		color: $color1;
		text-align: center;
		span.item-current,
		span.bread-current
		{
			color: $color1;
		}
		.breadcrumbs_title{
			display: block;
			margin: 55px auto 10px auto;
			h2{
				font-size: 40px;
				line-height: 1;
				text-transform: uppercase;
				margin: 0;
				padding:0;
				color: #3f3f3f;
			}
		}
		.navigation-pipe {
			padding: 0px 15px;
			background: url('../img/icon_breadcrumb.png') no-repeat center center;
			width: 6px;
			height: 9px;
		}
		a, span{
			color: $color;
			&.home {
			}
		}
		span.navigation-pipe{
			color: $base-border-color;
		}
		span:last-child{
			color: $color1;
		}
	}
}
#sns_content{
	position: relative;
	overflow: hidden;
	.sns-content{
		margin:0px;
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
#sns_footer_middle{
	margin: 0;
	padding: 60px 0 0px;
	background-color: #3f3f3f;
	color: inherit;
	.container{
		> .row{
			margin-right: -10px;
			margin-left: -10px;
		}
	}
	a{
		color: inherit;
		&:hover{
			color: $color1;
		}
	}
	&.layout2 {
		background: #f7f7f7;
		margin: 0;
	}
}

#sns_footer{
	margin: 0 0;
	padding: 30px 0;
	background-color: #333333;
	color: $color;
	position: relative;
	min-height: 86px;
	a{
		color: $color1;
		&:hover{
			color: $color1;
		}
	}
	.sns-info{
		text-align: center;
		ul{
			font-size: 92%;
			display:inline-block;
			margin: 0 0; padding: 0 0;
			li{
				background:url("../img/separated.gif") no-repeat left center;
				display:inline-block;
				padding: 0 12px 0 15px;
				&:first-child{
					background:none;
				}
				a:hover{
					text-decoration: none;
					color: $activeColor
				}
			}
		}
	}
	.sns-copyright{
		text-align: center;
		padding:3px 0 0;
		a{
			color: $activeColor;
			&:hover{
				text-decoration: none;
			}
		}
		&.col-md-6{
			text-align: left;
			@media (max-width: $screen-sm-max){
				text-align: center;
			}
		}
	}
	.payment-logo {
		position: relative;
		text-align: right;
		.inner {
		}
		img {
			margin: 0 auto;
		}
		@media (max-width: $screen-sm-max){
			text-align: center;
		}
	}
	&.layout2 {
		text-align: left;
		padding: 25px 0;
		.inner {
			position: relative;
			> div {
				position: relative;
				z-index: 1;
			}
			.sns-info{
				text-align: left;
			}
			.sns-copyright{
				text-align: left;
			}
			.payment-logo {
				position: absolute;
				z-index: 0;
				right: 0;
				top: -4px;
			}
		}
	}

	// two columns 
	&.sns-footer.two_col{
		padding: 30px 0px;
		.payment-logo{
			position: relative;
			top:0;
			@media(max-width: $screen-md){
				margin-bottom: 30px;
			}
		}
	}

	@media(max-width: $screen-sm-max){
		.col-md-6{
			margin-bottom: 20px;
		}
	}
	
}

div.block-connectus{
	position: relative;
	padding-bottom: 50px;
	&:after{
		position: absolute;
		content:'';
		bottom:0;
		left: 0;
		width: 100%;
		height: 121px;
		background: url('../img/contact_map_bg.png') no-repeat center center;
		z-index: 0;
	}
	p{
		margin-bottom: 17px; font-family:inherit;
		z-index: 1;
		label {
			color: unset; font-weight:inherit; margin-right: 0px;
			@media(max-width: $screen-sm-max){
				display: none;
			}
		}
		&[class*="fa-"] {
			padding-left: 35px;
			position: relative;
			+ [class*="fa-"] {
				
			}
			&:before {
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				text-align: center;
				@include inline-block();
				position: absolute;
				top: 5px;
				left: 0;
				font-size: 1.143em;
				@include transition(all 0.25s ease);
			}
			&:hover {
				&:before {
					color: $color1;
					border-color: $color1;
				}
			}
		}
	}
}

// Page not fount 
.sns-notfound-page{
	margin: 70px 0px 120px 0px;
	.sns-notfound-content{
		text-align: center;
		margin: 0;
		padding-bottom: 60px;
		position: relative;
		h1{
			display: block;
			font-size: 8.333em;
			color: $color1;
			margin: 0;
	    	font-weight: bold;
			line-height: 1;
		}
		.notfound-title{
			font-size: 1.667em;
			text-transform: uppercase;
			font-weight: bold;
			line-height: 1;
			margin: 25px 0;
		}
		&:before{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			border: 1px solid #eaeaea;
		}
	}
	.sns-notfound-search-form{
		margin-top: 50px;
		#searchform{
			div{
				position: relative;
				max-width: 385px;
				height: 50px;
				margin: 0 auto;
				input[type="text"]{
					width: 100%;
					padding-right: 58px;
					float: left;
					height: 50px;
					z-index: 1;
				}
				button{
					width: 50px;
					height: 50px;
					position: absolute;
    				right: 0;
    				z-index: 3;
    				background: #333333;
    				border-color: #333333;
    				color: #ffffff;
    				.fa{
    					color: #fff;
    					font-weight: bold;
    					font-size: 1.3em;
    				}
    				&:hover{
    					background: #333333;
    					border-color: #333333;
    					color: #ffffff;
    				}
				}
			}
		}
	}
}

.no-results.not-found{
	.page-header{
		margin-top: 0;
	}
}

// search-results
.search-results{
	.page-header{
		padding-bottom: 9px;
	    margin: 0px 0 30px;
	    border-bottom: 1px solid #eee;
	    color: #333;
    	font-size: 1.667em;
	}
}
div.wpcf7-validation-errors {
	border: none;
	background:#f2dede;
	color: #b94a48; padding: 6px 15px;
}

// admin-bar
.admin-bar{
	#sns_wrapper{
		@media screen and (max-width: 600px){
			position: relative;
			top: 46px;
		}
	}

}

// row no padding
.sns_row-no-padding{
	> .row{
		> div[class*=""]{
			
		}
	}
}

// define 5 Columns layout
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15{
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-15{
	width: 20%;
	float: left;
}
@media(min-width: 768px){
	.col-sm-15{
		width:20%;
		float: left;
	}
}
@media(min-width: 992px){
	.col-md-15{
		width: 20%;
		float: left;
	}
}
@media(min-width: 1200px){
	.col-lg-15{
		width: 20%;
		float: left;
	}
}

// custom
.sns-bg-fixed{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	&:before{
		position: absolute;
		content: '';
		display: block !important;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0, 0.2);
	}
}