/***************************************************
	scss file: assets/scss/theme/_shortcodes.scss
		+ Override style for some default shortcodes
		+ Style for our shortcodes - with prefix sns
****************************************************/
// VC Row & Container
// Heading or tile shortcode
h2.widgettitle,
h2.wpb_heading{
	margin: 0 0 30px; font-size:183.3%;
}
.vc_custom_heading{
	&.have-line-center{
		position:relative; padding: 0 0 10px;
		&:before{
			position: absolute; width: 50px; height: 1px; left: 50%; bottom: 0px; content: ''; background: #999;
			margin: 0 0 0 -25px;
		}
	}
	&.have-line-left{
		position:relative; padding: 0 0 10px;
		&:before{
			position: absolute; width: 50px; height: 1px; left: 0px; bottom: 0px; content: ''; background: #999;
		}
	}
	&.have-line-right{
		position:relative; padding: 0 0 10px;
		&:before{
			position: absolute; width: 50px; height: 1px; right: 0px; bottom: 0px; content: ''; background: #999;
		}
	}
	&.white{
		&:before{
			background: #FFF;
		}
	}
	&.uppercase{
		text-transform: uppercase;
	}
}
.have-line-color h2.wpb_heading,
.have-line-color h2.widgettitle,
.vc_custom_heading.have-line-color{
	position:relative; padding: 0 0 10px;display: inline-block;
	&:before{position: absolute; width: 100%; height: 1px; left: 0px; bottom: 0px; content: ''; background: $color1;}
}
//
.wpb_column{
	@media (max-width: $screen-xs-max){
		margin-bottom: 35px;
		&:last-child{
			margin-bottom: 0px;
		}
	}
}
// wpb_text_column
.wpb_text_column{
	&.white{
		color: #FFF;
	}
}
// vc_progress_bar
body {
	.vc_progress_bar{
		.vc_single_bar{
			box-shadow: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			-o-box-shadow: none;
			-ms-box-shadow: none;
			margin-top: 35px;
			.vc_label{
				top: -20px; font-size: 100%; color: inherit !important; padding: 0 0 !important;
				text-shadow:none !important; 
				.vc_label_units{
					position: absolute; right: 0px;
				}
			}
		}
	}
	
}
.sns-ourbrand{
	position:relative;
	text-align: center;
	z-index: 5;
	
	@media(min-width: 1200px){
		margin-left: -10%;
		margin-right: -10%;
	}

	&.pre-load{height: 0px; overflow: hidden;}

	h2.wpb_heading{
		text-transform: uppercase; margin: 0 0;
		position: relative; padding: 0 0 10px; display: block;
		text-align: left;
		// &:before{
		// 	position: absolute; content:''; left: 0px; bottom: 0px; background: #ebebeb; height:1px; width: 100%;
		// }
	}
	ul{list-style: none; padding: 0 0; margin: 0 0;
		li{
			padding: 20px 1px;
			border-left: 1px solid #e8e8e8;
		}
	}
	.navslider{
		@include navcirarrowlarge();
		display: none;
		z-index: -1;
		&:hover{
			.prev,.next{
					display: none;
			}
		}
	}
	
	&:hover{
			.navslider{ display: block;
				.prev,.next{
				display: block;
				opacity: 1;
				visibility: visible;
				z-index: 2;
				}

				.next{
					right: 0;
				}
				.prev{
					left: 0;
				}
			}
	}
	
	.ourbrand-content{ 
		position: relative;
		padding: 0; margin: 0 auto; 
		max-width: 1140px;
		border: 1px solid #e8e8e8;
		&:before{
			position: absolute;
			content: '';
		    top: 0px;
		    left: 0px;
		    height: 100%;
		    width: 2px;
		    background: #fff;
		    z-index: 2;
		}
		.owl-item{
			@include transition(all 0.2s ease-out);
			//@include opacity(0.7);
			//&:hover {
			//	@include opacity(1);
			//}
		}
		a{
			position: relative;
			display: block;
			&:after{
				position:absolute;
				content: '';
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #f5f5f5;
				opacity: 0;
				visibility: hidden;
				z-index: 1;
			}
			&:hover:after{
				opacity: 1;
				visibility: visible;
			}
			img{
				position: relative;
				z-index: 2;
			}
		}
	}
}
// Row
section.full-width .vc_container.section-content {
	width: 100%;
	padding: 0 15px;
}
.vc_container {
  @include container-fixed;
  width: 100%;
  padding: 0;
  @media (min-width: $screen-sm-min) {
    max-width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    max-width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    max-width: 1140px; //$container-lg;
  }
}
// vc_tta-container
.vc_tta-container{
	.vc_tta-accordion{
		&.avaz-style{
			.vc_tta-panel{
				.vc_tta-panel-heading{
					border-color: $base-border-color;
					.vc_tta-controls-icon.vc_tta-controls-icon-plus{
						display: block;
						@include square(24px); @include border-radius(100%);
						text-align: center;
						border: 1px solid $base-border-color;
						@include transition(all 0.25s ease); 
						font-size: 0px; position: absolute; cursor: pointer;
						top: 50%; left: 12px;
						background: #FFF; z-index: 1;
						&:before {
							content: '';
							position: absolute;
							width: 60%;
							height: 1px;
							background: $base-border-color;
							top: 50%;
							@include transition(all 0.25s ease);
							left: 20%;
							border: none;
						}
						&:after{
							content: '';
							position: absolute;
							width: 60%;
							height: 1px;
							background: $base-border-color;
							top: 50%;
							@include rotate(-90deg);
							@include transition(all 0.25s ease);
							left: 20%;
							border: none;
						}
						&:hover {
							border-color: $color1;
							&:before,
							&:after {
								background: $color1;
							}
						}
					}
				}
				.vc_tta-panel-body{
					border-color: $base-border-color;
					background: #ffffff;
				}
				&.vc_active{
					.vc_tta-panel-heading{
						background: #f7f7f7;
						border-color: $base-border-color;
					}
				}
			}
		}
	}
}
// Single image
.wpb_single_image{
	position: relative;
	overflow: hidden;
	a{
		position: relative; display: inline-block; max-width: 100%; overflow: hidden; vertical-align: top;
		//z-index: 1;
	    @include transition(all 0.25s ease 0s);

	    &:before, &:after{
	    	bottom: 20px;
		    content: " ";
		    left: 20px;
		    opacity: 0;
		    position: absolute;
		    right: 20px;
		    top: 20px;
		    @include transition(all 0.3s ease);
	    }
	    &:before{
			border-bottom: 1px solid #fff;
		    border-top: 1px solid #fff;
		    -webkit-transform: scale(0, 1);
		    -ms-transform: scale(0, 1);
		    -o-transform: scale(0, 1);
		    transform: scale(0, 1);
	    }
	    &:after{
			border-left: 1px solid #fff;
		    border-right: 1px solid #fff;
		    -webkit-transform: scale(1, 0);
		    -ms-transform: scale(1, 0);
		    -o-transform: scale(1, 0);
		    transform: scale(1, 0);
	    }

		.vc_single_image-wrapper{
			position: relative;
			overflow: hidden;
			z-index: -1;
			&:before{
				position: absolute;
			    content: " ";
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    background: rgba(0, 0, 0, 0.3);
			    z-index: 2;
			    @include opacity(0);
			    @include transition(all 0.25s ease);
			}
		}


	    &:hover{
			&:before, &:after{
				opacity: 1;
			    transform: scale(1);
			    -webkit-transform: scale(1);
			    -ms-transform: scale(1);
			    -o-transform: scale(1);
			    transform: scale(1);
			}

			.vc_single_image-wrapper{
				&:before{
					@include opacity(1);
				}
			}
	    }
	}
}

// Custom box
.sns-custom-box{
	position: relative;
	background: #f8f8f8;
	padding: 10px;
	&:before{
		position: absolute;
		content: '';
		top: 11px;
		left: 11px;
		right: 11px;
		bottom: 11px;
		border: 1px solid #ffffff;
		@include transition(all 0.25s ease);
		cursor: pointer;
		z-index: 1;
	}
	.custom-box-wrapper{
		@include clearfix();
		display: table;
		width: 100%;
		padding: 12px 3px 10px 10px;
		.vc_icon_element-icon{
			display: table-cell;
			width: 50px;
			vertical-align: top;
			margin-top: 7px;
			overflow: hidden;
			@include transition(all 0.75s ease-out 0s); background: transparent;
			color: #3f3f3f; font-size: 30px;
		}

		.content-custom-box{
			display: table-cell;
			vertical-align: top;
			h2.wpb_heading{
				font-size: 1.286em; margin: 0px 0 6px;
				a{
					position: relative;
					z-index: 2;
				}
			}
			p{
				font-size: 0.929em; // 13/14px 
				color: #5f5f5f;
				margin-bottom: 0;
			}
		}
	}

	&:hover{
		color: #3f3f3f;
		&:before{
			top: 0; left: 0; right: 0; bottom: 0;
			border: 1px dashed #ffffff;
			background-color: rgba($color1, 0.4);
		}
	}
}
// Twitter
.sns-tweets{
	position: relative;
	.content{
		margin: 0 -15px;
	}
	.navslider{
		> span{
			@include navcirplus();
		}
	}
	ul{
		list-style:none; padding: 0;
		li{
			margin:0;
			padding:0 !important;
			padding-left: 25px !important;
		    position: relative;

		    &:before{
		    	position: absolute;
			    top: 3px;
			    left: 0;
			    content: "\f081";
			    display: inline-block;
			    font-family: FontAwesome;
			    font-style: normal;
			    font-weight: normal;
			    line-height: 1;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			    width: auto;
			    height: auto;
			    text-align: center;
			    line-height: auto;
			    font-size: 20px;
		    }
		}
	}
	&.no-avatar{
		.user{
			//display: none;
			a{
				img{
					display: none;
				}
			}
		}

	}
	&.no-follow-link{}
	&.no-interact-link{
		.interact{display:none;}
	}
	&.no-date{
		.timePosted{display:none}
	}
	&.no-carousel{
		li + li{
			margin: 25px 0 0;
		}
	}
	.item-tweet{
		float:left; padding: 0 15px;
	}
	.item-tweet + .item-tweet {
		margin: 18px 0 0;
	}
	.user{
		position: relative; padding: 0 0;
		a{
			img{
				display: none;
				float: left; width: auto; display: block;
				margin: 0 10px 6px 0; @include border-radius(4px);
				margin:0;
			}
			&:hover{
				> span{
					color: $activeColor;
					span{color: $activeColor;}
				}
			}
		}
	}
	.tweet{
		a{
			color: $activeColor;
		}
		img{ max-width: 16px; width: auto;}
	}
	.timePosted {
		color: $color;
		margin: 0; margin-bottom: 20px;
	}
	.interact{
		border-top: 1px solid $base-border-color;
		margin-left: 58px;
		a {
			margin-right: 20px;
			color: $color;
			&:hover {color: $color1;}
			&:before {
				margin-right: 5px;
				font-family: FontAwesome;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
			&.twitter_reply_icon {
				&:before {content: "\f064";}
			}
			&.twitter_retweet_icon {
				&:before {content: "\f079";}
			}
			&.twitter_fav_icon {
				&:before {content: "\f005";}
			}
		}
	}
}
// Blog list
.sns-blog-list{
	position:relative;
	.blist-content{
		margin: 0 -15px;
	}
	.navslider{
		> span{
			@include navcirplus();
		}
	}
	ul{list-style:none; padding: 0;}
	.latest-posts-item{margin-top: 25px;
		padding: 0 15px;
		&:first-child{margin-top: 0px;}
	}
	.style2{
		.date{
		   	border: 1px solid #eaeaea;
		    @include border-radius(12px); @include transition(all 0.2s ease-out 0s);
		    float: left;height: 55px; width: 55px;margin-right: 10px; position: relative; text-align: center;
		    .month{
		    	@include transition(all 0.2s ease-out 0s); color: $color;
		    	position:absolute; width: 100%; bottom: 8px; text-align:center;left:0px;font-size:92%;
		    }
		    .day{
		    	@include transition(all 0.2s ease-out 0s);
		    	position:absolute; width: 100%; top: 8px; text-align:center;left:0px; font-size:116.7%;
		    }
		}
		.latest-posts-item{
			&:hover{
				.date{border-color:$color1; background:$color1;
					.month,
					.day{color:#FFF;}
				}
			}
		}
	}
	.style1{
		.image{
			border: 1px solid $base-border-color;
			@include border-radius(12px); @include transition(all 0.2s ease-out 0s);
		    float: left;height: 55px; width: 55px;margin-right: 10px; position: relative; text-align: center;
		    overflow: hidden;
		    img{max-width: 100%;}
		}
		.latest-posts-item{
			&:hover{
				.image{border-color:$color1; 
				}
			}
		}
	}
	.latest-posts-content{
		h5{
			margin: 0px 0 6px; font-size:125%;
			@media(max-width: $screen-sm-max){
				margin-top: 0px;
			}
		}
		p{margin: 0; line-height: 17px;}
	}

	// images on top
	&.sns-blog-list-images-top{
		h2.wpb_heading{
			position: relative;
    		padding: 0 0 10px;
			display: block;
			text-align: center;
			margin: 0;
			&:before{
				    position: absolute;
				    content: "";
				    left: 50%;
				    bottom: -14px;
				    height: 1px;
				    width: 20%;
				    background: #ebebeb;
				    transform: translateX(-50%);
			}

		}

		.navslider{
			position: relative;
		    width: 61px;
		    height: 28px;
		    display: block;
		    display: block;
		    margin-left: auto;
		    margin-right: auto;
		    background: #fff;

		    .prev, .next{
		    	-webkit-transition: all 0.2s ease-out;
			    -o-transition: all 0.2s ease-out;
			    transition: all 0.2s ease-out;
			    cursor: pointer;
			    margin: 0 0 0 5px;
			    width: 28px;
			    height: 28px;
			    border: 1px solid $base-border-color;
			    border-radius: 100%;
			    position: absolute;
			    top: 0px;
			    right: 0px;
			    background: url("../img/ico-pager.png") no-repeat -78px 6px;
			    &:hover{
			    	    background-position: -52px 6px;
					    background-color: #3cabda;
					    border-color: #3cabda;
			    }
		    }
		    .prev{
				    left: 0px;
				    right: auto;
				    background-position: 0px 6px;
				    margin: 0 0;
				    &:hover{
				    	background-position: -26px 6px;
				    }
			}

		}

		.blist-desc{
			margin: 6px auto 26px;
			padding: 0 10px;
			text-align: center;
			width: 63%;
			display: block;
			@media(max-width: $screen-sm){
				width: 90%;
			}
		}

		.blist-content{
			margin: 20px 0px 0px 0px;
			li {
				.latest-posts-item{
					margin:0;
					@media(max-width: $screen-sm){
						margin-bottom:30px;
						display: inline-block;
						float: none;
						margin-right: -4px;
						vertical-align: top;
					}
					.image{
						a{
							position: relative;
							display: block;
							&:after{
								position: absolute;
								top: 0;
    							left: 0;
								content: '';
								width: 100%;
								height: 100%;
								background: rgba(0,0,0,0.4);
								opacity: 0;
								visibility: hidden;
								    -webkit-transition: 0.2s ease-out;
								    -o-transition: 0.2s ease-out;
								    transition: 0.2s ease-out;
								    -webkit-transform: scale(0.4);
								    -moz-transform: scale(0.4);
								    -ms-transform: scale(0.4);
								    -o-transform: scale(0.4);
								    transform: scale(0.4);
							}
							&:hover:after{
								opacity: 1;
								visibility: visible;
								-webkit-transform: scale(1);
							    -moz-transform: scale(1);
							    -ms-transform: scale(1);
							    -o-transform: scale(1);
							    transform: scale(1);
							}
						}
					}
					.latest-posts-content{
						h3{
							margin-top:20px;
						}
						.meta-info{
							margin-top: 12px;
							position: relative;
							color: #cccccc;
							.date{
								display: inline-block;
								float: left;
								.fa{
									margin-right: 8px;
								}
							}
							.blist-readmore{
								display: inline-block;
								float: right;
								a{
									color: #cccccc;
									&:hover{
										color: #3cabda;
									}
								}
							}
							&:after{
								display: table;
								content: '';
								clear: both;
							}
						}
					}
				}

				&:after{
						display:table;
						content: '';
						clear: both;
					}
				}
		}
	}
}

// Testimonial
.sns-testimonial{
	padding: 74px 0;
	position:relative; text-align: center; color: #FFF;
	.navslider{
		position: absolute;
		top: 50%;
		height: 50px;
		width: 100%;
		margin-top: -25px;
		z-index: 2;
		.prev,.next{
			width: 60px;
			height: 60px;
			text-align: center;
			position: absolute;
			color: #ffffff;
			background-color: rgba(0,0,0, 0.2);
			@include transition(all 0.4s ease 0s);
			opacity: 0;
			visibility: hidden;
			.fa{
				font-size: 0px;
				line-height: 50px;
				width: 60px;
				height: 60px; float:left;
			}
			&:hover{
				background: $button-hover-bg;
				color: #ffffff;
				cursor: pointer;
			}
		}
		.next{
			left: auto;
			right: -20%;
			.fa{
				background: url('../img/arrow-next.png') no-repeat center center;
			}
		}
		.prev{
			left: -20%;
			.fa{
				background: url('../img/arrow-prev.png') no-repeat center center;
			}
		}
	}
	ul{
		list-style: none; padding: 0 0; margin: 0 0;
	}
	.testimonial-content{
		max-width: 780px;
		text-align: center;
		padding: 0 15px;
		margin: 0 auto;
		z-index: 1;
		.testimonial-title{
			text-align: center;
			display: block;
			text-transform: uppercase;
			font-size:1.714em;
			margin-bottom: 10px;
		}
		.sns-testi-avatar{
			margin: 0 auto 14px;
			padding: 0;
			height: 70px; width: 70px;
			img{ 
				height: auto; width:100%; //border: 2px solid #FFF;
				@include transition(background 0.2s ease-out);@include border-radius(100%); overflow: hidden; display: inline-block;
				vertical-align: top;
			}
			
		}
		.sns-test-title{
			font-size: 1em;
			color: #ffffff;
			margin:0;
			span{
				font-size: 0.9em;
				margin-left: 8px;
				padding-left: 12px;
				position: relative;
				&:before{
					position:absolute;
					top: 50%;
					left: 0px;
					content: '';
					height: 1px;
					width: 6px;	
					background: #ffffff;
					margin-top: -1px;
				}
			}
		}
		li{
			.quote-content{font-style: normal; position: relative; margin-bottom: 25px; color: #efefef;

				p{
					margin-bottom: 0;
				}
			}
			.icon-quote{color: #efefef; font-weight: bold;}
		}
	}
	&:hover{
		.navslider{
			.prev,.next{
				opacity: 1;
				visibility: visible;
			}
			.next{
				right: -15px;
			}
			.prev{
				left: -15px;
			}

			@media(max-width: $screen-sm-max){
				.next{
					right: 5px;
				}
				.prev{
					left: 5px;
				}
			}
		}
	}
	&.sns_testimonial_white{
		.navslider{
			.prev,.next{
				background: #ffffff;
				color: $color;
				&:hover{
					background: $color1;
					color: #ffffff;
				}
			}
		}
		color: $color;
		.testimonial-content{
			.sns-test-title{
				color: $color;
				span{
					&:before{
						background: $color;
					}
				}
			}
			li{
				.quote-content{font-style: normal; position: relative; margin-bottom: 25px; color: $color;
				}
				.icon-quote{
					color: $color;
				}
			}
		}
	}

	@media (max-width: $screen-sm-max){
		padding: 54px 0;
	}

	@media (max-width: $screen-xs-min){
		padding: 15px 0;
	}
}

// Contact form 7

.wpcf7-form{
	.wpcf7-text{
		max-width: 100%; width: 100%; margin-bottom: 20px;
	}
	.wpcf7-textarea{
		max-width: 100%; width: 100%; margin-bottom: 15px;
	}
}
div.wpcf7-response-output{
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 2em 0.5em 0em;
}
div.wpcf7-mail-sent-ok{
	@include alert-styles($alert-success-bg);
	@include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

div.wpcf7-validation-errors {
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    @include alert-styles($alert-danger-bg);
    @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}


// Member
.sns-member{
	text-align: center;
	.avartar{
		margin-bottom: 15px; overflow: hidden;
		a{
			position: relative; display: block; overflow: hidden; border: 1px solid #ebebeb; 
			&:before{
				position: absolute; content: ''; width: 100%; height: 100%; left: 0px; top: 0px;
				@include transition(0.2s ease-out); background: rgba(0,0,0,0.4); opacity: 0;
			}
			&:hover{
				&:before{
					opacity: 1;
				}
			}
		}
		&.rounded{
			a{
				@include border-radius(10px);
				&:before{
					@include border-radius(10px);
				}
			}
		}
		&.circle{
			a{
				@include border-radius(100%);
				&:before{
					@include border-radius(100%);
				}
			}
		}
	}
	.name{
		margin-bottom: 5px;
	}
	.role{
		margin-bottom: 10px; color: #c1c1c1;
	}
	.short_desc{
		margin-bottom: 10px;
	}
	.social-icons{
		position: relative;
		margin-top: 10px; padding-top: 10px;
		&:before{
			position: absolute; content: ''; width: 30px; height: 1px; background: #e9e9e9;
			left: 50%; top: 0px; margin: 0 0 0 -15px;
		}
		ul{
			padding: 0 0; margin: 0 0; list-style: none;
			li{
				display: inline; margin: 0 5px;
			}
		}
	}
}

// Counter
.sns-counter{
	text-align: center; position: relative;
	.vc_icon_element-icon{
		display: block; margin: 0px 0 15px;
	}
	.counter-value{
		display: block; margin: 0 0;
		> span{
			margin: 0 2px 0 0;
		}
	}
	&.have-boder-left{
		&:before{
			content: ""; position: absolute; height: 80px; width: 1px; top: 50%; left: -8px; margin-top: -40px;
			background: #e9e9e9;
		}
		&.white{
			&:before{
				background: #FFF;
			}
		}
		@media (max-width: $screen-xs-max){
			&:before{display: none;}
		}
	}
}

// Revoslider (Bullet Style Persephone)
.tp-bullets{
	&.persephone{
		.tp-bullet{
			width: 10px;
			height: 10px;
			border: 2px solid #6a6a6a;
			border-radius: 0;
			background: #ffffff;
			&:hover, &.selected{
				background: $color1;
				border: 2px solid $color1;
			}
		}
	}

	&.custom{
		.tp-bullet{
			width: 10px;
			height: 10px;
			border: 2px solid #ffffff;
			border-radius: 0;
			background: transparent;
			&:hover, &.selected{
				background: #ffffff;
				border: 2px solid #ffffff;
			}
		}
	}
}

// SNS Latest Posts
.sns-latest-posts{
	@include clearfix();
	margin: 0px -15px;

	&.pre-load{height: 0px; overflow: hidden;}
	.wrapper-latest-posts{
		position: relative;
		overflow: hidden;
		@include clearfix();
		
		margin-bottom: 30px;
		padding: 0 15px;
		&:before{
			position: absolute;
			bottom:0;
			left: 15px;
			content: '';
			height: 1px;
			width: calc(100% - 30px);
			background: #efefef;
		}
		.wpb_heading{
			float: left;
			margin:0;
			padding:0;
			text-transform: uppercase;
			font-size: 1.714em;
			margin-bottom: 10px;
		}

		.navslider{
			position: relative;
			display: inline-block;
			background: #FFF;
			float: right;
			padding: 0;
			margin-top: 3px;
			.next,
			.prev{
				display: inline-block;
				width: 30px;
				height: 30px;
				text-align: center;
				background-color: rgba(#f2f2f2, 1);
			    @include transition(all 0.4s ease 0s);
				.fa{
					color: #cccccc;
					font-size: 0px;
					line-height: 43px;
					background: url('../img/icon-prev.png') no-repeat center center;
					height: 30px;
					width: 30px; float: left;
				}
				&:hover{
					cursor: pointer;
					background: #3f3f3f;
					.fa{
						color: #ffffff;
					}
				}
			}
			.next{
				margin-left: 2px;
				.fa{
					background: url('../img/icon-next.png') no-repeat center center;
				}
			}
		}
	}

	ul{
		@include ulclear();
		li{
			float: left;
			padding-left: 15px;
			padding-right: 15px;
			.post-thumb{
				max-height: 266px;
				position: relative;
				overflow: hidden;
				margin-bottom: 20px;
				a{
					position: relative; display: inline-block; max-width: 100%; overflow: hidden; vertical-align: top;
		            @include transition(all 0.25s ease);
		            &:after{
		            	content: "";
					    position: absolute;
					    width: 100%;
					    height: 100%;
					    top: 0;
					    left: 0;
					    background: rgba(0, 0, 0, 0);
					    @include transition(all 0.25s ease);
					    z-index: 0;
		            }
		            .fa{
					    position: absolute;
					    top: 50%;
					    margin-top: -23px;
					    width: 67px;
					    height: 56px;
					    left: 42%;
					    line-height: 56px;
					    text-align: center;
					    font-size: 20px;
					    color: #fff;
					    border: 1px solid rgba(255, 255, 255, 0.2);
					    opacity: 0;
					    z-index: 1;
					    @include transition(all 0.35s ease);

					    &:hover{
					    	background: rgba(255, 255, 255, 0.2);
    						border-color: transparent;
					    }
		            }
					
					&:hover{
						&:after{
							background: rgba(0, 0, 0, 0.4);
						}
						.fa{
							@include opacity(1);
						}
					}
				}
			}
			.post-info{
				@include clearfix();
				.item-date.date{
					padding-top: 8px;
				    margin-top: 3px;
				    float: left;
				    width: 50px;
				    height: 56px;
				    border: 1px solid $base-border-color;
				    margin-right: 15px;
				    text-align: center;
				    span{
				    	display: block;
				    }
					.d-day{
						margin-bottom: 2px;
					    color: #3f3f3f;
					    text-transform: uppercase;
					    font-weight: bold;
					    font-size: 25px;
					    line-height: 1;
					}
					.d-month{
						color: #666;
    					text-transform: uppercase;
    					font-size: 1em;
    					line-height: 1;
					}
				}
				.item-date.date + .info-inner{
					margin-left: 70px;
				}
				.info-inner{
					.post-title{
						display: block;
						font-size: 1.143em;
						line-height: 1.5;
						a{
							color: #3f3f3f;
							font-weight: 600;
							&:hover{
								color: $color1;
							}
						}
					}
					.post-excerpt{
						display: block;
						.read-more{
							margin-left: 8px;
							color: $color1;

						}
						margin-bottom: 24px;
					}
					.latest-post-meta-sc{
						padding: 7px 0;
						border-top: 1px solid #e8e8e8;
						border-bottom: 1px solid #e8e8e8;
						.post-author,.comment-count{
							.fa{
								margin-right: 8px;
								color: $color;
							}
						}
						.post-author + .comment-count{
							margin-left: 11px;
							padding-left: 11px;
							border-left: 1px solid #e8e8e8;
						}
					}
				}
			}
		}
	}

	&.layout_2{
		.wrapper-latest-posts{
			text-align: center;
			margin-bottom: 40px;
			.wpb_heading{
				float: none;
				text-align: center;
			}

			.navslider{
				display: none !important;
			}
		}

		ul{
			li{
				.post-content{
					position: relative;
					overflow: hidden;
					display: table;
					width: 100%;
					background-color: #f8f8f8;
					.post-thumb{
						display: table-cell;
						width: 290px;
						vertical-align: top;
					}

					.post-info{
						display: table-cell;
						vertical-align: top;
						position: relative;
						padding: 20px 15px 0 20px;
						z-index: 0;
						.info-inner{
							.post-title{
								margin-bottom: 15px;
								@include  max-lines(1,$line_height);
							}
							.post-excerpt{
								display: block;
								margin-bottom: 24px;
								@include max-lines(2,$line_height);
								p{
									@include max-lines(2,$line_height);
								}
							}

							.latest-post-meta-sc{
								position: absolute;
    							bottom: 8px;
								padding:0;
								border:none;
							}

							.read-more{
								position: absolute;
								right: 0;
								bottom:0;
								width: 41px;
								height: 41px;
								background-color: #ececec;
								@include transition(all 0.25s ease-out);
								a{
									display: block;
									font-size: 0px;
									width: 41px;
									height: 41px;
									background: url('../img/icon-plus.png') no-repeat center center;
								}
								&:hover{
									cursor: pointer;
									background-color: #3f3f3f;
								}
							}
						}
					}
				}
			}
		}

		@media(max-width: $screen-sm-max){
			ul{
				li{
					.post-content{
						display: block;
						.post-thumb{
						display: block;
						width: 100%;
						}

						.post-info{
							display: block;
							padding: 0px 15px 30px 20px;

							.info-inner{
								.post-title{
									@include  max-lines(1,$line_height);
								}
							}
						}
					}
				}
			}
		}
	}
}

//sns-featured-categories
div[id*="sns-featured-categories"]{
	&.sns-featured-categories{
		background: #f5f5f5;
		padding-bottom: 35px;
		margin-bottom: 48px;
		div.sns_featured_cat_heading{
			max-width: 1170px;
			display: block;
			position: relative;
			margin: auto;
			padding: 0;
			overflow: hidden;
			@media (max-width: $screen-sm-max){
				margin: 0 30px;
			}

			@media (max-width: $screen-xs-min){
				margin: 0 20px;
			}

			h2.wpb_heading{
				padding: 0;
				span{
					&:after{
						
					}
				}
			}
			.navslider{
				padding: 0 0 0 30px;
				background: #f5f5f5;
				span{
					background: #ffffff;
					color: #cccccc;
					&:hover{
						border-color: $color1;
						background: $color1;
						color: #ffffff;
					}
				}
			}
		}
		.sns-featured-cat{
			.slick-item{
				padding: 0 15px;
				margin-bottom: 20px;

				.cat-feature-img{
					position: relative;
					padding-top: 100%;
					overflow: hidden;
					background-color: #ffffff;
					a{
						display: block;
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						bottom: 0;
						img{
							position: absolute;
						    top: 50%;
						    left: 50%;
						    bottom: 0;
						    width: 80%;
						    height: auto;
						    @include transform(translate(-50%,-50%));
						}
						.view_more{
							position: absolute;
							top: 0;
							left: 50%;
							@include transform(translate(-50%,-50%));
							height: 35px;
							line-height: 35px;
							padding: 0 8px;
							background-color: #000000;
							color: #ffffff;
							text-transform: uppercase;
							z-index: 3;
							opacity: 0;
							visibility: hidden;
							@include transition(all 0.2s ease-out 0s);
							&:hover{
								background-color: $color1;
							}
						}
						.featured-cat-title{
							position: absolute;
							width: 100%;
							bottom: 0;
							text-transform: uppercase;
							color: #3f3f3f;
							font-weight: 600;
							text-align: center;
							z-index: 3;
							opacity: 0;
							visibility: hidden;
							@include transition(all 0.2s ease-out 0s);
						}

						.thumb-gradient{
							position: absolute;
						    z-index: 1;
						    top: 0;
						    left: 0;
						    right: 0;
						    bottom: 0;
						    background: rgba(238,238,238,0);
						    background: -moz-linear-gradient(top, rgba(238,238,238,0) 0%, rgba(238,238,238,0.71) 71%, rgba(180,180,180,1) 100%);
						    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238,238,238,0)), color-stop(71%, rgba(238,238,238,0.71)), color-stop(100%, rgba(180,180,180,1)));
						    background: -webkit-linear-gradient(top, rgba(238,238,238,0) 0%, rgba(238,238,238,0.71) 71%, rgba(180,180,180,1) 100%);
						    background: -o-linear-gradient(top, rgba(238,238,238,0) 0%, rgba(238,238,238,0.71) 71%, rgba(180,180,180,1) 100%);
						    background: -ms-linear-gradient(top, rgba(238,238,238,0) 0%, rgba(238,238,238,0.71) 71%, rgba(180,180,180,1) 100%);
						    background: linear-gradient(to bottom, rgba(238,238,238,0) 0%, rgba(238,238,238,0.71) 71%, rgba(180,180,180,1) 100%);
						    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#b4b4b4', GradientType=0 );
							opacity: 0;
							visibility: hidden;
							@include transition(all 0.2s ease-out 0s);
						}

						&:hover{
							.view_more{
								@media (min-width: $screen-sm-max){
									top: 50%;
									opacity: 1;
									visibility: visible;	
								}
							}
							.featured-cat-title{
								bottom: 13px;
								opacity: 1;
								visibility: visible;
							}

							.thumb-gradient{
								opacity: 1;
								visibility: visible;
							}
						}
					}
				}
			}
		}
	}
}

/* sns info box shortcode */
.sns-info-box{
	display: block;
	border: 3px dashed $color;
	.sns-info-box-wrapper{
		text-align: center;
		padding: 30px 0px 30px 0px;
		.info-heading{
			color: #5f5f5f;
			font-size: 1.143em;
			line-height: 1;
			text-transform: uppercase;
		}
		.info-title{
			color: #3f3f3f;
			font-size: 2.143em;
			font-weight: 700;
			line-height: 1.3;
			margin-bottom: 24px;
			text-transform: uppercase;
			> span{
				color: $color1;
			}
		}
		.info-desc{
			color: #5f5f5f;
			margin-bottom: 34px;
			padding: 0 13%;
		}
		.info-links{
			display: block;
			vertical-align: top;
			width: 100%;
			text-align: center;
			a{
				display: inline-block;
				vertical-align: top;
				font-size: 1em;
				text-transform: uppercase;
				margin: 0 5px 5px 0px;
				padding: 8px 30px;
				border: 1px solid #e8e8e8;
				background: transparent;
				color: #7f7f7f;
				&:hover{
					border-color: $color1;
					background: $color1;
					color: #ffffff;
					text-decoration: none;
				}
			}
		}
	}
}

/* SNS Products Slider */
.sns-products-slider{
	position: relative;
	//overflow: hidden;
	background-color: #222222;
	display: block;
	@include opacity(0);
	@include transition(all 0.3s ease);
	z-index: 0;
	&.loaded{
		@include opacity(1);
	}
	
	@media(max-width: 1200px){
		overflow: hidden;
	}

	&:hover{
		.navslider{
			> span{
				@include opacity(1);
				visibility: visible;
				@media(min-width: 1200px){
					&.prev{
						transform: translateX(0);
						-webkit-transform: translateX(0);
					}
					&.next{
						transform: translateX(0);
						-webkit-transform: translateX(0);
					}
				}
			}
		}
	}

	.sns-products-slider-content{
		position: relative;
		display: block;
	}
	.navslider{
		display: none;
		width: 100%;
		max-width: 1140px;
		margin: auto;
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		margin-top: -60px;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);

		@media(max-width: 1200px){
			top: 30%;
		}

		@media (max-width: $screen-sm-min){
			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}

		> span {
			display: block;
			vertical-align: top;
			width: 60px;
			height: 60px;
			text-align: center;
			background-color: #cbcbcb;
			color: #ffffff;
			margin-bottom: 2px;
			@include transition(all 0.4s ease 0s);
			@include opacity(0);
			visibility: hidden;
			
			&.next,
			&.prev{
				&:before{
					content: '';
					width: 60px;
					height: 60px;
					display: block;
					line-height: 60px;
				}
			}

			&.next{
				&:before{
					background: url('../img/arrow-next.png') no-repeat center center;
				}
			}
			&.prev{
				&:before{
					background: url('../img/arrow-prev.png') no-repeat center center;
				}
			}

			@media(min-width: 1200px){
				&.prev{
					transform: translateX(-150%);
				-webkit-transform: translateX(-150%);
				}
				&.next{
					transform: translateX(150%);
					-webkit-transform: translateX(150%);
				}
			}

			&:hover{
				cursor: pointer;
				background-color: rgba(0, 0, 0, 0.5);
			}

			@media (max-width: $screen-sm-min){
				width: 40px;
				height: 40px;
				&.next,
				&.prev{
					&:before{
						content: '';
						width: 40px;
						height: 40px;
						display: block;
						line-height: 40px;
					}
				}
			}
		}

	}
	.sns-products-slider-list{
		margin: 0px;
		padding: 0px;
		list-style: none;
		.owl-item{
			@include opacity(0);
			&.active{
				@include opacity(1);
			}
		}
		li.item-product-slider{
			position: relative;
			display: block;
			margin: 0px;
			padding: 0px;
			list-style: none;
			clear: both;

			@media (min-width: 1200px){
				.item-slider-thumb{
					width: calc(1140px - 456px) !important;
				}
				.item-slider-content{
					max-width: 456px;
				}
			}

			.item-slider-thumb{
				display: table-cell;
				vertical-align: top;
				width: 50%;
				float: left;
				text-align: center;
				background-color: #f8f8f8;
				a{
					max-width: 570px;
					display: inline-block;
					vertical-align: top;
				}
				img{
					display: block;
					width: auto !important;
					height: auto;
					vertical-align: top;
				}

				@media(max-width: 1200px){
					display: block;
					float: none;
					max-width: 100%;
					width: 100%;
				}
			}
			.item-slider-content{
				display: table-cell;
				vertical-align: top;
				margin: 0px;
				padding: 50px 0px 30px 30px;
				position: relative;
				max-width: 570px;

				@media(max-width: 1200px){
					display: block;
					float: none;
					max-width: 100%;
					width: 100%;
				}

				.item-slider-countdown{
					display: block;
					margin-bottom: 48px;

					.sns_sale_clock{
						display: block;
						position: relative;
						margin-left: -15px;
						margin-right: -15px;
						> div {
							display: inline-block;
							background: transparent;
							border: 1px solid #5f5f5f;
							width: 83px;
							height: 84px;
							margin-right: 15px;
							margin-left: 15px;
							text-align: center;
							font-size: 1em;
							line-height: 1;
							color: #efefef;
							padding-top: 10px;
							float: left;
							> span{
								display: block;
								font-size: 2.143em;
								line-height: 1;
								color: #ffffff;
								margin-bottom: 10px;
							}
							@media (max-width: $screen-sm-min){
								width: 53px;
								height: 54px;
								font-size: 0.8em;
								> span{
									font-size: 1.143em;
								}
							}
						}
						&:after{
							display: table;
							content: '';
							clear: both;
						}
					}

					@media (max-width: $screen-sm-min){
						margin-bottom: 28px;
					}
				}
				.item-slider-title{
					.product_title{
						color: #ffffff;
						font-size: 1.714em;
						margin-bottom: 27px;
						padding: 0;
						a{
							color: #fff;
							text-decoration: none;
							&:hover{
								color: $color1;
							}
						}

						@media (max-width: $screen-sm-min){
							margin-bottom: 17px;
						}
					}
				}
				.item-slider-short-desc{
					color: #efefef;
					font-size: 1em;
					margin-bottom: 20px;
				}
				.item-slider-price{
					margin-bottom: 50px;
					@media (max-width: $screen-sm-min){
							margin-bottom: 20px;
					}
					.price{
						margin: 0; padding: 0;
						> span.amount{
							color: $color1;
							font-size: 2.143em;
						}
						del{
							.amount{
								color: #efefef;
								font-size: 1.286em;
							}
						}
						ins{
							margin-left: 20px;
							font-weight: inherit;
							.amount{
								color: $color1;
								font-size: 2.143em;
							}
						}
					}

					@media (max-width: $screen-sm-min){
							margin-bottom: 17px;
					}
				}
				.item-slider-actions{
					.sns-add-to-cart{
						display: inline-block;
						float: left;
						vertical-align: top;
					}
					.add_to_cart_button{
						position: relative;
						display: block;
						float: left;
						background: #3f3f3f;
						color: #efefef;
						border: 1px solid #5f5f5f;
						border-radius: 0;
						height: 41px;
						line-height: 40px;
						font-size: 0.857em;
						text-transform: uppercase;
						margin: 0px 55px 15px 0px;
						padding: 0px 13px ;
						@include transition(none);
						i{
							position: absolute;
						    width: 40px;
						    height: 41px;
						    border: 1px solid #5f5f5f;
						    left: 100%;
						    background: #3f3f3f;
						    color: #efefef;
						    line-height: 40px;
						    top: -1px;
						    text-align: center;
						    @include transition(none);
						    vertical-align: top;
						}
						&.added{
							i.fa{
								&:before{
									content: "\f090";
								}
							}
						}

						&:hover{
							color: #3f3f3f;
							background: #ffffff;
						}
						&:hover i{
							color: #3f3f3f;
							background: #ffffff;
						}
					}
					.added_to_cart{ display: none;}

					.yith-wcwl-add-to-wishlist{
						position: relative;
						display: inline-block;
						background: #3f3f3f;
						color: #ffffff;
						border: 1px solid #5f5f5f;
						border-radius: 0;
						width: 40px;
						height: 41px;
						margin: 0px 15px 15px;
						line-height: 40px;
						text-align: center;
						margin: 0px 15px 15px 0px;
						float: left;
						a{
							display: block;
							font-size: 0px;
							text-align: center;
							&:before{
								content: '\f004';
								color: #ffffff;
								font-size: 12px;
							    font-family: FontAwesome;
							    line-height: 40px;
							    vertical-align: top;
							}
						}
						&:hover{
							color: #3f3f3f;
							background: #ffffff;
							a{
								&:before{
									color: #3f3f3f;
								}
							}
						}
						.yith-wcwl-wishlistaddedbrowse.show,
						.yith-wcwl-wishlistexistsbrowse.show
						{
							font-size: 0;
							a{
								display: inline-block;
								&:before{
								content: "\f00c";
								font-size: 12px;
								color: #ffffff;
							    font-family: FontAwesome;
							    line-height: 40px;
							    vertical-align: top;
								}
							}
							&:hover{
								a{
									&:before{
										color: #3f3f3f;
									}
								}
							}
						}
					}

					.yith-wcwl-add-to-wishlist + div.clear{ display: none;}
					.compare{
						position: relative;
					    display: inline-block;
					    background: #3f3f3f;
					    color: #fff;
					    border: 1px solid #5f5f5f;
					    width: 40px;
					    height: 41px;
					    line-height: 40px;
					    text-align: center;
					    margin: 0px 15px 15px 0px;
					    padding: 0;
					    border-radius: 0;
					    font-size: 0px !important;
					    float: left;
					    &:before{
					    	content: '\f074';
					    	font-size: 14px;
					    	color: #ffffff;
						    font-family: FontAwesome;
						    line-height: 40px;
						    vertical-align: top;

					    }
					    &:after{ display: none !important; }
					    &.added{
					    	&:before{
					    		content: "\f00c";
					    	}
					    }
					    *{display: none;}
					    &:hover{
					    	color: #3f3f3f;
							background: #ffffff;
							&:before{
								color: #3f3f3f !important;
							}
					    }
					}
				}
			}
		}
	}
}

.yith-wcan-loading{
	min-height: 500px;
	padding-bottom: 50px;
}

/* Call to action shortcode */
.sns-button{
	a.vc_btn3.vc_btn3-size-md{
		font-size: 13px !important;
		font-weight: 600;
	    padding-top: 6px !important;
	    padding-bottom: 6px !important;
	    padding-left: 25px !important;
	    padding-right: 25px !important;
	}
}
.sns-preload{
	opacity: 0px;
	visibility:hidden;
	@include transition(all 0.3s ease);
	&.sns-loaded{
		@include opacity(1);
		visibility: visible;
	}
}

/* effect vc button call to action */
a[class*="vc_btn"]{
	&:hover{
		background: $color1 !important;
		color: #ffffff;
	}
}
