.styledefult {
max-width: 300px;
clear: both;
}
.styledefult .svg-inline--fa {
height: 24px!important;
width: 24px!important;
}
.styledefult a {
font-size:16px;
}
.styledefult .azm-social {
margin: 0;
padding: 0;
display: inline-block;
color: #fff;
text-align: center;
-moz-border-radius: 0;
-webkit-border-radius: 0;
border-radius: 0;
-o-transition: all .3s;
-moz-transition: all .3s;
-webkit-transition: all .3s;
-ms-transition: all .3s;
transition: all .3s;
}
.styledefult .azm-social svg.svg-inline--fa.fa-whatsapp.fa-w-14 {
line-height: 24px;
vertical-align: top;
}
.styledefult azm-social:hover, .azm-social:focus, .azm-social:active {
outline: 0;
opacity: 0.8;
color: #fff;
}
.styledefult .azm-btn {
margin: 8px 8px 8px 0px;
padding: 13px 17px;
font-size: 16px;
line-height: 24px;
font-weight: 300;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
}
.styledefult .azm-btn i {
padding-right: 27px;
font-size: 21px;
line-height: 21px;
vertical-align: top;
}
.styledefult .azm-btn i:after {
content: "";
position: absolute;
top: -8px;
left: 70%;
width: 1px;
height: 36px;
background: #ccc;
background: rgba(255, 255, 255, 0.3);
}
.styledefult .azm-border-bottom {
padding-top: 12px;
border-bottom: 4px solid rgba(0, 0, 0, 0.1);
}
.styledefult .azm-gradient {
position: relative;
overflow: hidden;
}
.styledefult .azm-shadow-bottom {
position: relative;
overflow: hidden;
}
.styledefult .azm-shadow-bottom:before {
content: "";
position: absolute;
top: 50%;
left: 0;
width: 100%;
height: 50%;
}
.styledefult .azm-whatsapp {
background: #25d366;
font-weight: bold;
}
.styledefult .azm-long-shadow {
overflow: hidden;
}
.related.products .styledefult {
display: none;
}