.academicons-ul,
.fa-ul {
list-style-type: none
}
.academicons-li,
.fa-li {
top: .14285714em;
text-align: center
}
.academicons-fw,
.academicons-li,
.fa-fw,
.fa-li {
text-align: center
}
.ai.fa-pull-left,
.fa.fa-pull-left {
margin-right: .3em
}
@font-face {
font-family: Academicons;
src: url(//srkcreation.com/wp-content/plugins/social-icons-widget-by-wpzoom/assets/font/academicons.eot?v=1.8.6);
src: url(//srkcreation.com/wp-content/plugins/social-icons-widget-by-wpzoom/assets/font/academicons.eot?v=1.8.6) format('embedded-opentype'), url(//srkcreation.com/wp-content/plugins/social-icons-widget-by-wpzoom/assets/font/academicons.ttf?v=1.8.6) format('truetype'), url(//srkcreation.com/wp-content/plugins/social-icons-widget-by-wpzoom/assets/font/academicons.woff?v=1.8.6) format('woff'), url(//srkcreation.com/wp-content/plugins/social-icons-widget-by-wpzoom/assets/font/academicons.svg?v=1.8.6#academicons) format('svg');
font-weight: 400;
font-style: normal
}
.academicons {
display: inline-block;
font: normal normal normal 14px/1 Academicons;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale
}
.academicons-lg,
.fa-lg {
line-height: .75em;
vertical-align: -15%
}
.academicons-academia:before {
content: "\e9af"
}
.academicons-academia-square:before {
content: "\e93d"
}
.academicons-acclaim:before {
content: "\e92e"
}
.academicons-acclaim-square:before {
content: "\e93a"
}
.academicons-acm:before {
content: "\e93c"
}
.academicons-acm-square:before {
content: "\e95d"
}
.academicons-acmdl:before {
content: "\e96a"
}
.academicons-acmdl-square:before {
content: "\e9d3"
}
.academicons-ads:before {
content: "\e9cb"
}
.academicons-ads-square:before {
content: "\e94a"
}
.academicons-arxiv:before {
content: "\e974"
}
.academicons-arxiv-square:before {
content: "\e9a6"
}
.academicons-biorxiv:before {
content: "\e9a2"
}
.academicons-biorxiv-square:before {
content: "\e98b"
}
.academicons-ceur:before {
content: "\e96d"
}
.academicons-ceur-square:before {
content: "\e92f"
}
.academicons-coursera:before {
content: "\e95f"
}
.academicons-coursera-square:before {
content: "\e97f"
}
.academicons-cv:before {
content: "\e9a5"
}
.academicons-cv-square:before {
content: "\e90a"
}
.academicons-dataverse:before {
content: "\e9f7"
}
.academicons-dataverse-square:before {
content: "\e9e4"
}
.academicons-dblp:before {
content: "\e94f"
}
.academicons-dblp-square:before {
content: "\e93f"
}
.academicons-depsy:before {
content: "\e97a"
}
.academicons-depsy-square:before {
content: "\e94b"
}
.academicons-doi:before {
content: "\e97e"
}
.academicons-doi-square:before {
content: "\e98f"
}
.academicons-dryad:before {
content: "\e97c"
}
.academicons-dryad-square:before {
content: "\e98c"
}
.academicons-figshare:before {
content: "\e981"
}
.academicons-figshare-square:before {
content: "\e9e7"
}
.academicons-google-scholar:before {
content: "\e9d4"
}
.academicons-google-scholar-square:before {
content: "\e9f9"
}
.academicons-ideas-repec:before {
content: "\e9ed"
}
.academicons-ideas-repec-square:before {
content: "\e9f8"
}
.academicons-ieee:before {
content: "\e929"
}
.academicons-ieee-square:before {
content: "\e9b9"
}
.academicons-impactstory:before {
content: "\e9cf"
}
.academicons-impactstory-square:before {
content: "\e9aa"
}
.academicons-inspire:before {
content: "\e9e9"
}
.academicons-inspire-square:before {
content: "\e9fe"
}
.academicons-lattes:before {
content: "\e9b3"
}
.academicons-lattes-square:before {
content: "\e99c"
}
.academicons-mathoverflow:before {
content: "\e9f6"
}
.academicons-mathoverflow-square:before {
content: "\e97b"
}
.academicons-mendeley:before {
content: "\e9f0"
}
.academicons-mendeley-square:before {
content: "\e9f3"
}
.academicons-open-access:before {
content: "\e939"
}
.academicons-open-access-square:before {
content: "\e9f4"
}
.academicons-orcid:before {
content: "\e9d9"
}
.academicons-orcid-square:before {
content: "\e9c3"
}
.academicons-osf:before {
content: "\e9ef"
}
.academicons-osf-square:before {
content: "\e931"
}
.academicons-overleaf:before {
content: "\e914"
}
.academicons-overleaf-square:before {
content: "\e98d"
}
.academicons-philpapers:before {
content: "\e98a"
}
.academicons-philpapers-square:before {
content: "\e96f"
}
.academicons-piazza:before {
content: "\e99a"
}
.academicons-piazza-square:before {
content: "\e90c"
}
.academicons-publons:before {
content: "\e937"
}
.academicons-publons-square:before {
content: "\e94e"
}
.academicons-pubmed:before {
content: "\e99f"
}
.academicons-pubmed-square:before {
content: "\e97d"
}
.academicons-researcherid:before {
content: "\e91a"
}
.academicons-researcherid-square:before {
content: "\e95c"
}
.academicons-researchgate:before {
content: "\e95e"
}
.academicons-researchgate-square:before {
content: "\e99e"
}
.academicons-scirate:before {
content: "\e98e"
}
.academicons-scirate-square:before {
content: "\e99d"
}
.academicons-semantic-scholar:before {
content: "\e96e"
}
.academicons-semantic-scholar-square:before {
content: "\e96c"
}
.academicons-springer:before {
content: "\e928"
}
.academicons-springer-square:before {
content: "\e99b"
}
.academicons-zotero:before {
content: "\e962"
}
.academicons-zotero-square:before {
content: "\e932"
}
.academicons-lg {
font-size: 1.33333333em
}
.academicons-2x {
font-size: 2em
}
.academicons-3x {
font-size: 3em
}
.academicons-4x {
font-size: 4em
}
.academicons-5x {
font-size: 5em
}
.academicons-fw {
width: 1.28571429em
}
.academicons-ul {
padding-left: 0;
margin-left: 2.14285714em
}
.academicons-ul>li {
position: relative
}
.academicons-li {
position: absolute;
left: -2.14285714em;
width: 2.14285714em
}
.academicons-li.fa-lg {
left: -1.85714286em
}
.academicons-border {
padding: .2em .25em .15em;
border: .08em solid #eee;
border-radius: .1em
}
.academicons-pull-left {
float: left
}
.academicons-pull-right {
float: right
}
.ai.fa-pull-right {
margin-left: .3em
}
.fa-lg {
font-size: 1.33333333em
}
.fa-2x {
font-size: 2em
}
.fa-3x {
font-size: 3em
}
.fa-4x {
font-size: 4em
}
.fa-5x {
font-size: 5em
}
.fa-fw {
width: 1.28571429em
}
.fa-ul {
padding-left: 0;
margin-left: 2.14285714em
}
.fa-ul>li {
position: relative
}
.fa-li {
position: absolute;
left: -2.14285714em;
width: 2.14285714em
}
.fa-li.fa-lg {
left: -1.85714286em
}
.fa-border {
padding: .2em .25em .15em;
border: .08em solid #eee;
border-radius: .1em
}
.fa-pull-left {
float: left
}
.fa-pull-right {
float: right
}
.fa.fa-pull-right {
margin-left: .3em
}